@model ui.web.Models.Transactions.AssociateSecurityModel
@{
    ViewBag.Title = "Associate Security";
}

<h2>What security is this?</h2>

<div>@Html.Partial("Detail", Model.Transaction)</div>

<div>
    <table>
        <thead>
            <th>Ticker</th>
            <th>Description</th>
        </thead>
        @foreach (var security in Model.Securities)
        {
            <tr>
                <td>@Html.ActionLink("Use", "AssociateSecurity", "Transactions", new { transaction_id = Model.Transaction.Id, security_id = security.Id }, null)</td>
                <td>@security.Ticker</td>
                <td>@security.Description</td>
            </tr>
        }
    </table>
    <hr />
    <div>
        @Html.ActionLink("Create Security", "Create", "Securities")
    </div>
</div>