@using Microsoft.Ajax.Utilities
@model IEnumerable<data.models.write.BrokerageTransaction>
@{
    ViewBag.Title = "Transaction List";
}

<div>
    <form action="/Transactions/Import" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" />
        <input type="submit" name="submit" value="Submit" />
    </form>
</div>
<div>
    <table>
        <thead>
            <th>Trade Date</th>
            <th>Account</th>
            <th>Security</th>
            <th>Type</th>
            <th>Shares</th>
            <th>Share Price</th>
            <th>Amount</th>
        </thead>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TradeDate</td>
                <td>@transaction.Account.IfNotNull(x => x.Number)</td>
                <td>@if (transaction.Security != null)
                    {
                        @transaction.Security.Ticker
                    }
                    else
                    {
                        @Html.ActionLink("Not Found", "AddSecurityDescriptor", "Transactions", new { id = transaction.Id }, null)
                    }</td>
                <td>@transaction.TransactionType</td>
                <td>@transaction.Shares</td>
                <td>@transaction.SharePrice</td>
                <td>@transaction.NetAmount</td>
            </tr>
        }
    </table>
</div>